<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metadata.mapper.MetadataModuleMapper">

    <resultMap id="BaseResultMap" type="com.metadata.entity.MetadataModule">
        <id column="id" property="id"/>
        <result column="module_code" property="moduleCode"/>
        <result column="module_name" property="moduleName"/>
        <result column="module_type" property="moduleType"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="route_path" property="routePath"/>
        <result column="component_path" property="componentPath"/>
        <result column="business_code" property="businessCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.metadata.entity.MetadataModule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO metadata_module (module_code, module_name, module_type, description, status, sort, icon, route_path, component_path, business_code)
        VALUES (#{moduleCode}, #{moduleName}, #{moduleType}, #{description}, #{status}, #{sort}, #{icon}, #{routePath}, #{componentPath}, #{businessCode})
    </insert>

    <update id="update" parameterType="com.metadata.entity.MetadataModule">
        UPDATE metadata_module
        SET module_name = #{moduleName},
            module_type = #{moduleType},
            description = #{description},
            status = #{status},
            sort = #{sort},
            icon = #{icon},
            route_path = #{routePath},
            component_path = #{componentPath},
            business_code = #{businessCode}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM metadata_module WHERE id = #{id}
    </delete>

    <delete id="batchDelete">
        DELETE FROM metadata_module WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT * FROM metadata_module WHERE module_code = #{moduleCode}
        <if test="businessCode != null and businessCode != ''">
            AND business_code = #{businessCode}
        </if>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM metadata_module WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM metadata_module
        <where>
            <if test="moduleName != null and moduleName != ''">
                AND module_name LIKE CONCAT('%', #{moduleName}, '%')
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND module_type = #{moduleType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="businessCode != null and businessCode != ''">
                AND business_code = #{businessCode}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="countByCode" resultType="int">
        SELECT COUNT(*) FROM metadata_module WHERE module_code = #{moduleCode}
    </select>

    <select id="count" resultType="Long">
        SELECT COUNT(*) FROM metadata_module
        <where>
            <if test="moduleName != null and moduleName != ''">
                AND module_name LIKE CONCAT('%', #{moduleName}, '%')
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND module_type = #{moduleType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="businessCode != null and businessCode != ''">
                AND business_code = #{businessCode}
            </if>
        </where>
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM metadata_module
        <where>
            <if test="moduleName != null and moduleName != ''">
                AND module_name LIKE CONCAT('%', #{moduleName}, '%')
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND module_type = #{moduleType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="businessCode != null and businessCode != ''">
                AND business_code = #{businessCode}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{pageRequest.offset}, #{pageRequest.size}
    </select>

    <select id="selectByCodes" resultMap="BaseResultMap">
        SELECT * FROM metadata_module
        WHERE module_code IN
        <foreach collection="moduleCodes" item="moduleCode" open="(" separator="," close=")">
            #{moduleCode}
        </foreach>
        ORDER BY create_time DESC
    </select>

    <select id="selectByBusinessCode" resultMap="BaseResultMap">
        SELECT * FROM metadata_module
        WHERE business_code = #{businessCode}
        ORDER BY create_time DESC
    </select>

</mapper>

